body {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    align-items: center;
    font-family: Arial, sans-serif; /* add a font family to the body */
}

header {
    background-color: #2E4053;
    color: #F7F7F7; 
    padding: 20px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header li {
    margin-right: 20px;
}

header a {
    color: #F7F7F7; 
    text-decoration: none;
    transition: color 0.2s ease; 
}

header a:hover {
    color: #AAAAAA; 
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    padding: 20px; 
    align-items: flex-start;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: #fff; 
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px; /* add a border radius to the article */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a box shadow to the article */
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #f2f2f2;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: #f7f7f7; 
    padding: 20px; 
    margin: 0 20px;
    border-radius: 10px; /* add a border radius to the aside */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a box shadow to the aside */
}

h1, h2 {
    color: #333;
    font-weight: bold; /* add a font weight to the headings */
}

p {
    color: #666; 
    font-size: 18px; /* add a font size to the paragraphs */
}